:root {
  --gold: rgb(202, 172, 3);
}

header,
main {
  color: var(--gold);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80px;
  color: gold;
  background-color: black;
  cursor: pointer;
}
